# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
+ Create a Jupyter Notebook

+ Insert code and markdown cells

+ Share your notebook through GitHub

### Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R

### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas

| data science tools|
|-------------------|
|Jupyter Notebook|
|RStudio|
| Apache spark|

### below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(9/2) + 3

7.5

### This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Doha Mohamed Hussein